<!-- <div> -->
<app-navbar></app-navbar>

<div class="profile-container">
    <!-- heading -->
    <p style="font-size: 2rem; margin: 0 0 10px 0;"><b>User Profile</b></p>

    <mat-divider></mat-divider>

    <!-- form start -->
    <form style="margin: 1.5rem 30px 0 30px;" *ngIf="user; else formLoading">
        <!-- username elements -->
        <div>
            <p style="margin: 0">Username</p>
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="{{user.Username}}" type="text" disabled />
            </mat-form-field>
            <div style="display: flex;">
                <button
                    [ngStyle]="{'color': changeUsername ? 'white' : 'black', 'background-color' : changeUsername ? 'black' : 'white'}"
                    style="margin-right: 0.5rem;" class="profile-button" mat-raised-button color="primary"
                    (click)="changeUsername = !changeUsername"
                    [disabled]="changePassword || deleteAccount ? true : false">
                    Change Username
                </button>
                <button style="margin-right: 0.5rem;" class="button-confirmation profile-button" mat-raised-button
                    [ngStyle]="{'color': changePassword ? 'white' : 'black', 'background-color' : changePassword ? 'black' : 'white'}"
                    color="primary" (click)="changePassword = !changePassword"
                    [disabled]="changeUsername || deleteAccount ? true : false">
                    Change Password
                </button>
                <button class="profile-button" mat-raised-button
                    [ngStyle]="{'color': deleteAccount ? 'black' : 'white', 'background-color' : deleteAccount ? 'white' : '#606098'}"
                    (click)="deleteBtnTimer()" [disabled]="changeUsername || changePassword ? true : false">
                    Delete Account
                </button>
            </div>

            <!-- change info forms for username -->
            <div style="margin-top: -0.5rem; margin-bottom: 1rem;" *ngIf="changeUsername">
                <form #changeUsername="ngForm" (ngSubmit)="updateUsername()">
                    <mat-form-field style="width: 100%;">
                        <input matInput [(ngModel)]="newUsername" placeholder="Enter new username" name="UpdateUsername"
                            type="text" minlength="3" required />
                        @if (usernameForm.invalid) {
                        <mat-error>{{getUserErrorMessage()}}</mat-error>
                        }
                    </mat-form-field>
                    <button type="submit" [disabled]="!changeUsername.valid" class="profile-button accent-button"
                        mat-raised-button style="margin-bottom: 0">
                        Submit
                    </button>
                    <mat-divider style="margin-top: 10px"></mat-divider>
                </form>
            </div>
            <div style="margin-top: -0.5rem; margin-bottom: 1rem;" *ngIf="changePassword">
                <form #changePassword="ngForm" (ngSubmit)="updatePassword()">
                    <mat-form-field style="width: 100%;">
                        <input matInput [(ngModel)]="newPassword" placeholder="Enter new password" name="UpdatePassword"
                            type="text" minlength="6" required />
                        @if (passwordForm.invalid) {
                        <mat-error>Password must be at least 6 characters</mat-error>
                        }
                    </mat-form-field>
                    <button type="submit" [disabled]="!changePassword.valid" class="profile-button accent-button"
                        mat-raised-button style="margin-bottom: 0">
                        Submit
                    </button>
                    <mat-divider style="margin-top: 10px"></mat-divider>
                </form>
            </div>
            <div style="display: flex; flex-direction: column; margin-top: -0.5rem; margin-bottom: 1rem;"
                *ngIf="deleteAccount">
                <span style="font-size: 1.3rem; font-weight: 800; background-color: white; color: black; width: fit-content;
                padding: 7px 9px 7px 9px; border-radius: 5px; margin-top: 5px;">Warning</span>
                <span style="margin: 5px 0 10px 0; font-size: 1.05rem;">Are you sure you want to delete your account?
                    This can't be
                    undone.</span>
                <button style="width: fit-content; margin: 0" type="submit" class="profile-button accent-button"
                    mat-raised-button [disabled]="timer !== 'YES!! (┛✧Д✧))┛彡┻━┻'" (click)="deleteUserAccount(user)">
                    {{timer}}
                </button>
                <mat-divider style="margin-top: 10px"></mat-divider>
            </div>
            <!-- change info forms for username end -->

        </div>
        <!-- username elements end -->

        <!-- email elements -->
        <p style="margin: 0">Email</p>
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="{{user.Email}}" type="text" disabled />
        </mat-form-field>
        <button class="button-confirmation profile-button" mat-raised-button (click)="changeEmail = !changeEmail"
            [ngStyle]="{'color': changeEmail ? 'white' : 'black', 'background-color' : changeEmail ? 'black' : 'white'}">
            Change Email
        </button>

        <div style="margin-top: -0.5rem; margin-bottom: 1rem;" *ngIf="changeEmail">
            <form #changeEmail="ngForm" (ngSubmit)="updateEmail()">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Enter new email" name="UpdateEmail" type="email"
                        [formControl]="emailForm" required />
                    @if (emailForm.invalid) {
                    <mat-error>{{getEmailErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
                <button type="submit" [disabled]="emailForm.invalid" class="profile-button accent-button"
                    mat-raised-button style="margin-bottom: 0">
                    Submit
                </button>
                <mat-divider style="margin-top: 10px"></mat-divider>
            </form>
        </div>
        <!-- email elements end -->

        <!-- birthday elements -->
        <p style="margin: 0">Birthday</p>
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="{{user.Birthday | date}}" type="text" disabled />
        </mat-form-field>
        <button class="button-confirmation profile-button" mat-raised-button (click)="changeBirthday = !changeBirthday"
            [ngStyle]="{'color': changeBirthday ? 'white' : 'black', 'background-color' : changeBirthday ? 'black' : 'white'}">
            Change Birthday
        </button>

        <div style="margin-top: -0.5rem; margin-bottom: 1rem;" *ngIf="changeBirthday">
            <form #changeBirthday="ngForm" (ngSubmit)="updateBirthday()">
                <mat-form-field style="width: 100%;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" name="UpdateBirthday" placeholder="MM/DD/YYYY" [formControl]="birthdayForm" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (birthdayForm.invalid) {
                    <mat-error>{{getBirthdayErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
                <button type="submit" [disabled]="birthdayForm.invalid" class="profile-button accent-button"
                    mat-raised-button style="margin-bottom: 0">
                    Submit
                </button>
                <mat-divider style="margin-top: 10px"></mat-divider>
            </form>
        </div>
        <!-- birthday elements end -->

    </form>
    <!-- form end -->


    <!-- LOADING PLACEHOLDER BUTTONS -->
    <ng-template #formLoading>
        <form style="margin: 1.5rem 30px 0 30px;">
            <p style="margin: 0">Username</p>
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Loading..." type="text" disabled />
            </mat-form-field>
            <div style="display: flex;">
                <button style="margin-right: 0.5rem;" class="button-confirmation profile-button" mat-raised-button
                    disabled color="primary">
                    Change Username
                </button>
                <button style="margin-right: 0.5rem;" class="button-confirmation profile-button" mat-raised-button
                    disabled color="primary">
                    Change Password
                </button>
                <button class="profile-button " disabled mat-raised-button>
                    Delete Account
                </button>
            </div>

            <p style="margin: 0">Email</p>
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Loading..." type="text" disabled />
            </mat-form-field>
            <button class="button-confirmation profile-button" mat-raised-button color="primary" disabled>
                Change Email
            </button>

            <p style="margin: 0">Birthday</p>
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Loading..." type="text" disabled />
            </mat-form-field>
            <button class="button-confirmation profile-button" mat-raised-button color="primary" disabled>
                Change Birthday
            </button>
        </form>
    </ng-template>

    <div>
        <p style="font-size: 1.75rem; margin: 10px 0 0 10px;">Favorite movies</p>
        <mat-grid-list [cols]="(currentRange)" rowHeight="425px">

            <!-- MOVIE PLACEHOLDERS -->
            <ng-container *ngIf="loading && favMovies; else movieCard">
                <mat-grid-tile *ngFor="let item of [1,2,3];">
                    <mat-card>

                        <div style="width: 240px;" class="movie-card__image-container placeholder">
                            <img src="../../assets/heart.png"
                                style="position: absolute; top: 10px; right: 10px; z-index: 9999; width: 24px; opacity: 0.9" />
                            <div style="width: 100%; height: 350px;"></div>
                        </div>

                        <div style="display: flex; justify-content: center; flex-direction: column;"
                            class="mat-card-header">
                            <div class="placeholder" style="width: 150px; height: 23px; margin: 5px 10px 0 10px;"></div>
                            <div style="margin: 3px 10px 5px 10px; display: flex; align-items: center;">
                                <div class="placeholder" style="width: 50px; height: 20px;"></div>
                                <span style="background: #606098;" class="dot"></span>
                                <div class="placeholder" style="width: 150px; height: 20px;"></div>
                            </div>
                        </div>

                    </mat-card>
                </mat-grid-tile>
            </ng-container>

            <!-- FAVORITE MOVIE LIST -->
            <ng-template #movieCard>
                <ng-container *ngIf="!favMovies.length; else favoriteMovies">
                    <div>No favorite movies</div>
                </ng-container>

                <ng-template #favoriteMovies>
                    <mat-grid-tile *ngFor="let movie of favMovies;">

                        <mat-card>

                            <div class="movie-card__image-container">
                                <img *ngIf="isFavorited(movie) === true" (click)="toggleFavorite(movie)"
                                    src="../../assets/heart-full.png"
                                    style="position: absolute; top: 10px; right: 10px; z-index: 9999; width: 24px; opacity: 1" />
                                <img *ngIf="isFavorited(movie) === false" (click)="toggleFavorite(movie)"
                                    src="../../assets/heart.png"
                                    style="position: absolute; top: 10px; right: 10px; z-index: 9999; width: 24px; opacity: 0.9" />
                                <img (click)="openMovieDialog(movie)" class="movie-card__image" src={{movie.image}}
                                    alt={{movie.title}} />
                            </div>

                            <div class="mat-card-header">
                                <mat-card-title>{{movie.title}}</mat-card-title>
                                <mat-card-subtitle>
                                    <button style="padding: 0; height: 22px; min-width: unset;" mat-button
                                        (click)="openGenreDialog(movie)">{{movie.genre.Name}}</button>
                                    <span class="dot"></span>
                                    <button class="director-name" style="padding: 0; height: 22px;" mat-button
                                        (click)="openDirectorDialog(movie)">{{movie.director.Name}}</button>
                                </mat-card-subtitle>
                            </div>

                        </mat-card>
                    </mat-grid-tile>
                </ng-template>

            </ng-template>

        </mat-grid-list>

    </div>
</div>